.description-container {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: justify;
    -webkit-box-orient: vertical;
}
.card {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    width: 18rem;
}
.card img {
    padding: 15px;
    height: 250px;
    object-fit: scale-down;
}
.cards-container {
    height: 95vh;
    overflow-y: auto;
    width: 95vw;
}
#add_entry_card img {
    opacity: 0.3;
}