/* table styling */
table input {
    width: 100%;
}
tbody, td, tfoot, th, thead, tr {
    border-color: none !important;
    border-style: none !important;
    border-width: none !important;
}
main {
    display: flex;
}

/* text wrapping behaviour */
td,
th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* default spacing */
.table-id {
    min-width: 50px;
    max-width: 50px;
}
.table-icon {
    min-width: 60px;
    max-width: 60px;
    cursor: pointer;
}
.table-name {
    min-width: 110px;
    max-width: 110px;
}
.table-amount {
    min-width: 120px;
    max-width: 120px;
    text-align: right;
}
.table-unit {
    min-width: 120px;
    max-width: 120px;
}
.table-description {
    min-width: 210px;
    max-width: 210px;
}
.table-final-col {
    width: 100%;
}

/* Icons */
thead .material-symbols-rounded {
    position: relative;
    top: 6px;
    cursor: pointer;
}